Program/obj/Debug/net8.0/Program.GlobalUsings.g.cs
Program/obj/Debug/net8.0/Program.GeneratedMSBuildEditorConfig.editorconfig
Program/obj/Debug/net8.0/Program.assets.cache
Program/obj/Debug/net8.0/Program.AssemblyInfoInputs.cache
Program/obj/Debug/net8.0/Program.AssemblyInfo.cs
Program/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
Program/obj/project.nuget.cache
Program/obj/project.assets.json
Program/obj/Program.csproj.nuget.g.targets
Program/obj/Program.csproj.nuget.g.props
Program/obj/Program.csproj.nuget.dgspec.json
W3_Project.sln
